.container {
	width: 100vw;
	display: flex;
	justify-content: flex-end; /* Levittää lapsielementit tasaisesti */
	padding: 0;
	align-items: center; /* Keskittää lapsielementit pystysuunnassa */
}

.nav-wrapper {
	display: flex;
	flex-direction: column;

	justify-content: center;
}

.navLinks {
	/* Tämä voi olla tarpeen, jos haluat pitää linkit yhdessä */
	display: flex;
	justify-content: center;

}

.btn-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 0.5em;
	margin-left: auto;
	margin-top: 0.5em;
}

.signout-btn {
	font-size: 1rem;
	padding: 0.25em 0.5em;
}


.link {
	display: flex;
	align-items: center;
	margin-top: 0.25em;

	font-size: 1.5rem;

	color: #4aa7f0;
}

.link:hover {
	cursor: pointer;
	text-decoration: underline;
}

.separator {
	padding: 0.25em;

	margin: 0.25em 0.25em;
	font-size: 1.7rem;
	color: #81c7ff;
}


.loginBtn {
	background-color: #16a2d8;
	border-radius: 5px;
	border: none;
	color: #ffffff;
	cursor: pointer;
	font-size: 1.1rem;
	font-weight: 500;
	line-height: 1.5;
	padding: 0.5rem 1rem;
	transition: all 0.2s ease-in-out;
	margin-top: 1rem;
	margin-right: 1rem;
}

.registerBtn {
	background-color: #223cc1;
	border-radius: 5px;
	border: none;
	color: #ffffff;
	cursor: pointer;
	font-size: 1.1rem;
	font-weight: 500;
	line-height: 1.5;
	padding: 0.5rem 1rem;
	transition: all 0.2s ease-in-out;
	margin-top: 1rem;
}

.active {
	color: white;
}
